.c-plant-form__content {
  padding-bottom: 18px;
  margin-bottom: 100px;
}

.c-plant-form__image-wrapper {
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}

.c-plant-form__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c-plant-form__delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.c-plant-form__add-picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-plant-form__label {
  color: #999;
  font-size: 12px;
}

.input-wrapper {
  display: block;
}

.datetime-md {
  padding: 0 12px;
}

.range-md {
  padding: 0 20px;
}

.c-plant-form__buttons {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
}
