.c-plant-list__cards {
  margin-bottom: 100px;
}

.c-plant-list__info {
  width: 50%;
  float: left;
}

.c-plant-list__add-btn-wrapper {
  position: fixed;
  padding: 5%;
  left: 0;
  bottom: 0;
  width: 100%;
}

.c-plant-list__add-btn {
  height: 60px;
}
