.c-days-before-watering {
  border: 5px solid color($colors, primary);
  position: relative;
  height: 50px;
  border-radius: 5px;
}

  .c-days-before-watering__grid {
    padding: 0;
    height: 100%;
  }

  .c-days-before-watering__row {
    height: 100%;
  }

  .c-days-before-watering__day {
    background: color($colors, secondary);

    &:last-of-type {
      border-radius: 0 0% 21% 0;
      overflow: hidden;

      &:after {
        content: '';
        position: absolute;
        top: -5%;
        right: -15%;
        width: 30%;
        height: 55%;
        background: white;
        border-radius: 51%;
      }
    }
  }

  .c-days-before-watering--days {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: color($colors, primary);
    border-radius: 50%;
    width: 30px;
    height: 20px;
    text-align: center;
  }
