.c-days-before-watering {
  position: relative;
  height: 100%;
}

  .c-days-before-watering__day {
    opacity: 0.6;
    background: color($colors, waterColor);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: height 2s ease-in-out;
  }

  .c-days-before-watering__days-left {
    position: absolute;
    top: 0;
    left: 0;
    background: color($colors, primary);
    width: 100%;
    height: 24px;
    text-align: center;
    color: color($colors, light);
    line-height: 22px;
    font-weight: bold;
  }
